.form {
  width: 100%;
  max-width: 380px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  padding: 32px 21px;
  box-shadow: 0 12px 32px #00000014;
  border-radius: 16px;
  gap: 16px;
}

.form h2 {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  font-style: normal;
  width: 100%;
  text-align: center;
}

.container_inputs {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.container_inputs label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 13px;
  color: rgb(105, 105, 105);
}

.container_inputs label span {
  padding-left: 5px;
  width: 100%;
}

.container_inputs input {
  padding: 9px 16px;
  font-family: inherit;
  border: 1px solid #226cff36;
  border-radius: 6px;
}

.container_inputs input::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.container_inputs select {
  padding: 9px 16px;
  font-family: inherit;
  border: none;
  border: 1px solid #226cff36;

  border-radius: 6px;
  background: var(--background);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.container_inputs textarea {
  min-height: 80px;
  padding: 9px 16px;
  font-family: inherit;
  border: none;
  border: 1px solid #226cff36;
  border-radius: 6px;
}

.container_inputs textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.container_inputs button {
  width: 100%;
  padding: 16px 44px;
  background: #38bcef;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .form {
    max-width: 100%;
  }
}
